

<div class="indexPage1">
    <table>
        <tr>
            <td style="vertical-align:top">
                <div id="divBrends" class="divBrends">

                </div>
            </td>
            <td style="vertical-align:top">
                @Html.Partial("../Assortment/Assortment")
            </td>
        </tr>
    </table>
</div>
