<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OnlineShop.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <OnlineShop.Admin.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>?key=</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>https://api.berg.ru</value>
      </setting>
      <setting name="ReferencBrands" serializeAs="String">
        <value>/references/brands</value>
      </setting>
      <setting name="ReferencActivAddress" serializeAs="String">
        <value>/references/shipment_address/active</value>
      </setting>
      <setting name="OrderGetStock" serializeAs="String">
        <value>/ordering/get_stock</value>
      </setting>
      <setting name="OrderPlaceOrder" serializeAs="String">
        <value>/ordering/place_order</value>
      </setting>
      <setting name="ReferencStates" serializeAs="String">
        <value>/references/states</value>
      </setting>
      <setting name="OrderStatesActive" serializeAs="String">
        <value>/ordering/states/active</value>
      </setting>
      <setting name="OrderStates" serializeAs="String">
        <value>/ordering/states</value>
      </setting>
      <setting name="CurrentPricePath" serializeAs="String">
        <value />
      </setting>
    </OnlineShop.Admin.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OnlineShopConnectionString" providerName="System.Data.SqlClient" connectionString="Server=.\sqlexpress;Database=OnlineShopProdgectProd;Integrated Security=true;" />
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdminServiceOnlineShop" maxReceivedMessageSize="30720000">
          <security  mode="None" />        
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59672/WebServices/AdminServiceOnlineShop.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminServiceOnlineShop"
        contract="AdminShopService.IAdminServiceOnlineShop" name="BasicHttpBinding_IAdminServiceOnlineShop" />
    </client>
  </system.serviceModel>
</configuration>