<div id="divAssortment" class="divAssortment">
    <table id="tblAssortment">
        <tr>
            <th>
                Артикул
            </th>
            <th>
                Наименование
            </th>
        </tr>
    </table>
</div>
